body{
    background: linear-gradient(#3e4861,#20633f);
}

.titulo{
    width: 50vh;
    height:30vh;
    border-bottom: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.menu{
    height: 22vh;
}

.content{
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    position: relative;
}   

.modos{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: stretch;
    text-align: center;
    width: content;
    height: 80%;
    background-color: #5baad7;
    border: 2px solid rgb(60,90,110);
    margin: 3%;
    padding: 10px;

}
.modos h1{
    margin: 5px;
    background-color: #90c3c9;
    border: 2px solid #a3e0c7;
}
.modos div{
    margin: 2px;
    background-color: #90c3c9;
    border: 2px solid #a3e0c7;
}

.park{
    margin-top: 10px;
    width: clamp(40%, 80%, 80%);
    height: 59%;
    min-height: 62vh;
    min-height: fill-available;
    background-color: rgb(101,189,99);
    border: 2px solid #24958a;
    position: absolute;
    overflow: hidden;
    left: clamp(217px, 19vw, 370px);
}

.bola{
    position: absolute;
    border-radius: 100px;
}
