*{
    border: none;
    border-radius: 5px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Baloo 2", sans-serif;
    color: #f27f2c;
}
body{
    background-color: #a7eae3;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo{
    width: 480px;
    height: 200px;
    border-bottom: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.controles{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    background-color: #5baad7;
    border: 2px solid #5b5dd7;
    border-radius: 5px;
}
.controle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #90c3c9;
    border: 2px solid #a3e0c7;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}
.visor{
    background-color: #a9e97b;
    border: 2px solid #2cc283;
    margin-top: 3px;
    margin-bottom: 5px;
    width: 30%;
    display: flex;
    justify-content: center;
    text-align: center;
}
button{
    cursor: pointer;
    background-color: #5f9ea0;
    border: 2px solid #1d458a;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 150px;
}
button:hover{
    background-color: #457274;
    color: #ebb78c;
}
.content{
    display: flex;
    flex-direction: row;
    position: relative;
}
.modos{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    text-align: center;
    width: content;
    height: 80%;
    background-color: #b0c1e6;
    border: 2px solid #43aa96;
    margin: 3%;

}
.modos h1{
    margin: 5px;
    background-color: #9be8c9;
    border: 2px solid #52bdd8;
    border-radius: 5px;
}
.modos div{
    margin: 2px;
    background-color: #69cadd;
    border: 2px solid #2854b1;
    border-radius: 5px;
}
.park{
    margin-top: 10px;
    width: clamp(40%, 80%, 80%);
    height: 80%;
    min-height: 62vh;
    min-height: fill-available;
    background-color: #65bd63;
    border: 2px solid #24958a;
    position: absolute;
    overflow: hidden;
    left: clamp(217px, 20vw, 375px);
}
.bola{
    position: absolute;
    border-radius: 100px;
}
